<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
              class="org.springframework.jdbc.datasource.DriverManagerDataSource"
              p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}"
              p:username="${jdbc.username}"
              p:password="${jdbc.password}"/>
    <bean id="sessionFactory"
              class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
                                  
        <property name="packagesToScan" value="com.qpoint"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop> 
                <prop key="hibernate.connection.SetBigStringTryClob">true</prop>
                <prop key="hibernate.jdbc.batch_size">0</prop>

            </props>
        </property>
		
    </bean>
	
           
    <!-- Spring Email Sender Bean Configuration -->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

        <property name="host" value="smtp.gmail.com" />

        <property name="port" value="587" />

        <property name="username" value="marokac45@gmail.com" />

        <property name="password" value="201320952" />

        <property name="javaMailProperties">
            <props>

                <prop key="mail.smtp.auth">true</prop>

                <prop key="mail.debug">true</prop>

                <prop key="mail.transport.protocol">smtp</prop>

                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>

                <prop key="mail.smtp.socketFactory.port">465</prop>

                <prop key="mail.smtp.starttls.enable">true</prop>

            </props>

        </property>

    </bean>
       
          
    <bean id="transactionManager"
              class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
    <bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonMessageConverter"/>
            </list>
        </property>
    </bean>
	
	
    <bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"> 
        <property name="maxUploadSize" value="500000" /> 
    </bean>

    <bean id="DaoImpl" class="com.qpoint.Cic.mailCicDaoImpl"/>
    <bean id="serviceImpl" class="com.qpoint.Cic.mailCicServiceImpl"/>
     
    <tx:annotation-driven/>
    <context:component-scan base-package="com.qpoint" />
    <mvc:annotation-driven /> 
    <mvc:resources mapping="/resources/**" location="/resources/" />
</beans>



